## DataFrame创建

In [ ]:
import pandas  as pd

df=df = pd.DataFrame(data={"id": [101, 102, 103,101], "name": ["张三", "李四", "王五",'张三'], "age": [20, 30, 40,15]},index=["aa", "bb", "cc",'ac'])
df

In [ ]:
# print(df.values)
# print(df.columns)
# print(df.T)
# df.iloc[0:1,0:2]
# print(df.info())

# print(df.mean())

# print(df.head(2))
# print(df['age'].max())
# df.drop_duplicates()      ##只有一整行完全一致会被删除
# print(df.iloc[:,:])

print(df.sort_values('age'))

### dataframe 运算

In [ ]:
##
df1 = pd.DataFrame(
    data={"age": [10, 20, 30, 40], "name": ["张三", "李四", "王五", "赵六"]},
    columns=["name", "age"],
    index=[101, 102, 103, 104],
)
df2 = pd.DataFrame(
    data={"age": [10, 20, 30, 40], "name": ["张三", "李四", "王五", "田七"]},
    columns=["name", "age"],
    index=[102, 103, 104, 105],
)

print(df1 + df2)         ## 只会对索引列相同的数据进行运算，没有的就会补充NaN

### DataFrame更改操作

In [ ]:
import  pandas as pd
import numpy as np
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})
df2=df.set_index('id')

# print(df2)
# print(df)


#  添加列
df["phone"] = ["13333333333", "14444444444", "15555555555", "16666666666"]
print(df)


## 删除列
df.drop(columns="phone", inplace=True,axis=1)
print(df)

## 插入列
df.insert(0,'new_column',np.nan)
print(df)

### df文件读取与写入

In [11]:
df.to_csv("D:\\File\\tmp\\jetbrans\\df.csv",header=False,index=False,encoding='utf-8')

In [13]:
df=pd.read_csv("D:\\File\\tmp\\jetbrans\\df.csv",encoding='utf-8')
print(df)

   Unnamed: 0  20  张三  101
0         NaN  30  李四  102
1         NaN  40  王五  103
2         NaN  10  赵六  104

### DataFrame日期操作

In [5]:
import pandas as pd
df = pd.DataFrame({"gmv":[100,200,300,400],"trade_date":["2025-01-06","2023-10-31","2023-12-31","2023-01-05"]})
df["ymd"] = pd.to_datetime(df["trade_date"])
print(df)
print(df.dtypes)

## 通过Series中的dt属性，来获取日期, 前提是得datetime类型
df['year']=df['ymd'].dt.year
df['quarter']=df['ymd'].dt.quarter
df['month']=df['ymd'].dt.month
df['day']=df['ymd'].dt.day
df['weekday']=df['ymd'].dt.weekday
df['hour']=df['ymd'].dt.hour
df

   gmv  trade_date        ymd
0  100  2025-01-06 2025-01-06
1  200  2023-10-31 2023-10-31
2  300  2023-12-31 2023-12-31
3  400  2023-01-05 2023-01-05
gmv                    int64
trade_date            object
ymd           datetime64[ns]
dtype: object

   gmv  trade_date        ymd  year  quarter  month  day  weekday  hour
0  100  2025-01-06 2025-01-06  2025        1      1    6        0     0
1  200  2023-10-31 2023-10-31  2023        4     10   31        1     0
2  300  2023-12-31 2023-12-31  2023        4     12   31        6     0
3  400  2023-01-05 2023-01-05  2023        1      1    5        3     0

In [6]:
### to_period()获取统计周期
df = pd.DataFrame({"gmv":[100,200,300,400],"trade_date":["2025-01-06","2023-10-31","2023-12-31","2023-01-05"]})
df["ymd"] = pd.to_datetime(df["trade_date"])
df["ystat"] = df["ymd"].dt.to_period("Y")
df["mstat"] = df["ymd"].dt.to_period("M")
df["qstat"] = df["ymd"].dt.to_period("Q")
df["wstat"] = df["ymd"].dt.to_period("W")
df

   gmv  trade_date        ymd ystat    mstat   qstat                  wstat
0  100  2025-01-06 2025-01-06  2025  2025-01  2025Q1  2025-01-06/2025-01-12
1  200  2023-10-31 2023-10-31  2023  2023-10  2023Q4  2023-10-30/2023-11-05
2  300  2023-12-31 2023-12-31  2023  2023-12  2023Q4  2023-12-25/2023-12-31
3  400  2023-01-05 2023-01-05  2023  2023-01  2023Q1  2023-01-02/2023-01-08